html {
    max-width: 100%;
    max-height: 100%;
}
body {
    background-color: rgba(170,170,170);
}

.grid {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    border: 1px orange solid;
}
/*name col/row 1/1*/
h1 {
    font-size: 4.25rem;
    color: #FFF;
    font-family: 'Roboto Mono', monospace;
    margin-left: 7%;
    writing-mode: vertical-rl;
    transform: rotate(200deg);
    position: absolute;
    border: 1px yellow solid;
}

.black {
    font-size: 4.25rem;
    color: #000;
    font-family: 'Roboto Mono', monospace;
}

/*buttons - styling only */
button {
    font-size: 2rem;
    font-family: monospace;
    background-color: rgba(170,170,170);
    text-decoration: none;
    border: 0px grey solid;
    border-radius: 4px;
    box-shadow: 8px 8px 12px #8e9091, 
         -6px -6px 8px #c4c6c9;
    height: 200px;
    width: 300px;
}

button:hover {
    border: 0px grey solid;
    box-shadow: inset 8px 8px 12px #8e9091, 
         inset -6px -6px 8px #c4c6c9;
    cursor: pointer;
    color: #079324;

}
/* indiv */

.top {
    color:#000;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    display: inline;
    border: 1px red solid;
}
#about a {
    color: #000;
}

#resume a {
    color: #000;
}

.second {
    border: 1px green solid;
    grid-column-start: 3;
    grid-row-start: 3;
}

h2 {
    font-size: 1.25rem;
    color: #FFF;
    font-family: 'Roboto Mono', monospace;
}

.bottom {
    color: #FFF;
    border: 1px red solid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}
